/* AllItems.css */

/* Page Container */
.page-container {
  max-width: auto;
  margin: 0 auto;
  padding: 20px;
  background: transparent;
}

/* Title */
.title {
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #333;
}

/* Create Button Container */
.create-button-container {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

/* Standard Button Styles */
.standard-button {
  background-color: #c2f8cb;
  font-family: Monaco;
  color: #333;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Content Container */
.content-container {
  margin-top: 20px;
}

/* Tile Container */
.tile-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* Standard Tile */
.standard-tile {
  flex: 0 1 calc(33.33% - 20px);
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

/* Link Styles */
.link {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.link:hover {
  color: #bbd0ff;
}

/* Image Styles */
.image {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
  margin-bottom: 10px;
}

/* Name Styles */
.name {
  font-size: 18px;
}

/* Add New Drink Button Margins */
.create-button-container .standard-button {
  margin-right: 20px;
}
