/* Container */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.centered-content {
  background-color: white;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: auto;
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Title */
.form-title {
  font-size: 25px;
  margin-bottom: 20px;
  color: var(--text-color);
}

/* Form */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Label */
.form-label {
  margin: 10px 0;
  font-size: 16px;
  text-align: center;
  width: 100%;
  color: var(--text-color);
}

/* Input */
.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 18px;
  font-family: Comfortaa;
}

/* Error message styles */
.form-error-message {
  color: var(--link-hover-color);
  margin: 5px 0;
  font-size: 14px;
}

/* Submit button styles */
.form-submit-button {
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.form-submit-button:hover {
  background-color: var(--link-color);
}
