/* DeleteForm.css */

/* Delete Form Container */
.delete-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  padding: 20px;
  background-color: transparent;
  border-radius: 10px;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
}

/* Delete Form Title */
.delete-form-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

/* Delete Form Message */
.delete-form-message {
  font-size: 16px;
  margin-bottom: 20px;
  color: #666;
}

/* Button Styles (Delete and Cancel) */
.delete-button,
.cancel-button {
  font-family: Comfortaa;
  background-color: var(--button-bg-color);
  color: var(--button-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.delete-button:hover,
.cancel-button:hover {
  background-color: var(--button-hover-color);
}
