/* EditDrinkPage.css */

/* Page Container */
.page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Form Container */
.form-create {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
}

/* Form Title */
.form-create h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

/* Error Message Container */
.error-message {
  color: #cb78ec;
  margin: 10px 0;
  font-size: 14px;
}

/* Label Container */
.label-create {
  margin: 10px 0;
  font-size: 15px;
  font-family: Comfortaa;
  text-align: left;
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Input Styles */
.input-create {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  font-family: Comfortaa;
  margin-top: 10px;
  text-wrap: balance;
}

/* File Input Styles */
.label-create input[type="file"] {
  display: inline-block;
  margin-right: 10px;
  font-family: Comfortaa;
  font-size: 14px;
  color: #333;
  margin-top: 10px;
  width: auto;
}

/* Image Styles */
.label-create img {
  max-width: 100%;
  max-height: 200px;
  width: auto;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
}

/* Submit Button Styles */
button[type="submit"] {
  background-color: #bbd0ff;
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  font-family: Comfortaa;
}

button[type="submit"]:hover {
  background-color: #c8b6ff;
  font-family: Comfortaa;
}
