/* Navigation.css */

/* Color Palette */
:root {
  --primary-bg-color: linear-gradient(
    65deg,
    #ffd6ff 0%,
    #e7c6ff 20%,
    #c8b6ff 40%,
    #b8c0ff 60%,
    #bbd0ff 80%
  );
  --text-color: #333;
  --link-hover-color: #6e9a7e;
  --background-color: #f4f4f4;
}

/* Navigation Bar Container */
.navbar {
  background: var(--primary-bg-color);
  padding: 12px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  text-wrap: nowrap;
}

/* Navigation Links */
.nav-links {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav-links a {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: var(--link-hover-color);
}

/* Profile Button */
.navbar {
  position: relative;
  color: var(--text-color);
}

.profile-button-container button {
  background: none;
  border: none;
  color: var(--button-color);
  font-size: 24px;
}

/* Profile Dropdown */
.profile-dropdown {
  position: fixed;
  right: 10%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}

.profile-dropdown.hidden {
  display: none;
}

.profile-dropdown li {
  text-align: center;
}

.profile-dropdown button {
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

/* "Start an Order" Button */
.navbar button {
  background: none;
  border: none;
  font-size: 15px;
  font-family: Monaco;
  margin-bottom: 10px;
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

/* "Start an Order" Button on Hover */
.navbar button:hover {
  color: var(--link-hover-color);
}
