title {
  font-size: 38px;
  text-align: center;
  margin-bottom: 30px;
}

h3 {
  font-size: 38px;
  text-align: center;
  margin-bottom: 30px;
}

.order-form-label {
  margin-left: 35px;
  margin-top: -40px;
  font-size: 28px;
  font-weight: bold;
  font-style: italic;
}

.order-standard-tile {
  flex: 0 1 calc(33.33% - 20px);
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  flex-grow: 1;
}

div.selected {
  background-color: gray;
}

#modal {
  overflow: scroll;
}

.create-order-modal {
  height: 50%;
  width: 50%;
}

.primary-button {
  margin-left: 100px;
  margin-bottom: 50px;
}
